.moivess{
    background-color:rgb(39, 58, 110);
    text-align: center;
    padding: 50px 0px;

}

.moivess h1{
    margin-top: 0;
    color: white;
    
}
.favs_list{
    color: white;
    background-color: rgb(0,32,78);
    width: 600px;
    margin: 20px auto;
    padding: 10px 35px;

}